* {
    background-color: lightgray;
}

.fa-cloud-sun-rain {
    font-size: 5rem;
    color:rgba(64, 156, 255, 0.559);
}

.fa-temperature-arrow-down {
    font-size: 5rem;
    color:rgb(0, 122, 252);
}

.fa-temperature-arrow-up {
    font-size: 5rem;
    color:rgba(254, 0, 0, 0.559);
}

.logo-container {
    width: 100%;
    height: 6rem;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 1rem;
    border-radius: 8px;
    background-color: rgba(0, 100, 0, 0.494);
    color: white;
    margin-top: 3rem;
}

.f2c-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#result {
    font-size: 2rem;
}